.slide {
      max-height: 291px;
      margin-bottom: 20px;
    }

    body {
      padding-top: 100px;
    }

    h3 {
      color: green;
    }

    .carousel-caption {
      position: relative;
      bottom: 325px;
      left: -300px;
    }

    .navbar-header {
      min-height: 70px; 
      padding: 0;
    }

    .heading-noticias {
      color: blue;
    }

    .heading-asperger {
      color: green;
    }

    .div-thumb {
      padding-top: 10px;
    }

    .footer {
      background-color: black; 
      color: gray;
      padding: 30px;
      margin-top: 30px;
    }